MYSQL_DATABASE=wordpress
MYSQL_USER=db_god
WP_ADMIN_USER=wp_god
WP_ADMIN_EMAIL=wordpressgod@divine.org
WP_SECOND_USER=wp_peasant
WP_SECOND_EMAIL=wordpresspeasant@village.org
DOMAIN_NAME=dasimoes.42.fr
